<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>IFD Requests</title>
		<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
		<link rel="manifest" href="manifest.json">
		<link rel="stylesheet" href="https://get.mavo.io/mavo.css">
		<script src="https://get.mavo.io/mavo.es5.js"></script>
		<script src="https://firebase-plugin.netlify.app/src/mavo-firebase-firestore.js"></script>
		<script defer src="ifd.js"></script>
		<link href="style.css" rel="stylesheet">
		<style>
			.r-label {
				padding-left 1em;
				padding-right 1em;
			}
			.played span {
				text-decoration: line-through;
			}
			.hidePlayed .played {
				display: none;
			}
			[mv-app="util"] .mv-bar {
				flex-basis: 100%
			}
			header {
				flex-basis: 100%;
			}
			section {
				margin: 1em;
			}
			#session-header {
				max-width: 30em;
			}
			#session-select {
				float: right;
			}
			.request-list {
				line-height: 200%;
			}
			
			.break {
				flex-basis: 100%;
				height: 0;
			}
			#name-login {
				position: fixed;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				padding: 2em;
				border: 2px solid black;
				max-width: 40em;
				background: white;
				border-radius: 10px;
				z-index: 10;
			}
			#name-login input {
				padding: 3px;
				margin: 3px;
				border: 2px solid;
				border-radius: 3px;
			}
			#name-login:not(.show-name-login) {
				display: none;
			}
			body {
				display: flex;
				min-height: 98vh;
				flex-direction: column;
				margin-top: 0;
			}
			main {
				flex: 1;
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				align-content: flex-start;
				justify-content: space-between;
			}
			footer {
				padding-top: 3em;
				font-size: small;
			}
			.mv-status span {
				display: none;
			}
			.ifdr-active .mv-bar {
				background-color: green;
			}
			.ifdr-inactive .mv-bar {
				background-color: red;
			}
			[mv-app] {
				display: contents;
			}
			[mv-app="util"] {
				position: sticky;
				top: 0;
				z-index: 1;
				flex-basis: 100%;
			}
			.ifdr-inactive .show-active {
				display: none;
			}
			.ifdr-active .show-inactive {
				display: none;
			}
			.request-table th, .request-table td {
				padding: 0 1ex;
			}
			.r-count {
				text-align: right;
				margin-right: 1ex;
			}
		</style>
	</head>
	<body class="logged-out">

		<main>
			<div mv-app="sessionList"
					 style="display: none";
					 mv-bar="none"
					 mv-source="firebase://mavo-cd7c3/ifdr-session"
					 mv-source-query
					 mv-source-options="realtime"
					 mv-source-key="AIzaSyC0PxY82lVLTLv80ZU1z5sz1azoYZits0I">
				<div property="$items" mv-list>
					<div mv-list-item>
						<span property="name" mv-value="data.name"></span>
					</div>
				</div>
			</div>

			<div mv-app="userList"
					 style="display: none";
					 mv-bar="none"
					 mv-source="firebase://mavo-cd7c3/ifdr-user"
					 mv-source-query="[query]"
					 mv-source-options="realtime"
					 mv-source-key="AIzaSyC0PxY82lVLTLv80ZU1z5sz1azoYZits0I">
				<meta property="queryPlan" content="where('mysid','==','[user.mysid]').where('checkInTime','>',[$startup-(session.lookbackTime || 365*24*60*60*100)])">
				<meta property="query" content="[if(user.mysid && session.lookbackTime, queryPlan, '')]">
				<div property="$items" mv-list>
					<div mv-list-item>
						<meta property="data">
						<meta property="id">
						<div property="users">
							<meta property="uid" content="[id]">
							<meta property="name" mv-value="data.name">
							<meta property="zoomName" mv-value="data.zoomName">
							<meta property="checkInTime" mv-value="data.checkInTime">
							<meta property="picks" mv-value="data.picks">
						</div>
					</div>
				</div>
			</div>

			<div mv-app="util"
				 mv-source-options="auth"
				 mv-plugins="firebase-firestore"
				 mv-autosave="1"
				 mv-bar="status login logout"
				 mv-source="https://mavo-cd7c3.firebaseio.com/ifdr-user/0"
				 mv-source-key="AIzaSyC0PxY82lVLTLv80ZU1z5sz1azoYZits0I"
				 class="[if(user.checkedIn,'ifdr-active','ifdr-inactive')]"
				 >
				<div class="mv-bar mv-ui">
					<span class="show-logged-in show-active">Checked in</span>
					<span class="show-logged-in show-inactive">Checked out</span>
					<button class="mv-login show-logged-out">Sign in using Google (secure)</button>
					<button class="show-logged-out"
							mv-action="set(showNameLogin,true)">Enter my name (insecure), or </button>
					<button class="help" style="order: 3" mv-action="set(help,!help)">Help</button>
				</div>

				<meta property="help" mv-value="false">
				<meta property="showNameLogin">
				<meta property="useNameLogin" mv-default="[false]">
				<div property="nameLoginData" id="name-login"
					 mv-storage="local"
					 class="[if(showNameLogin,'show-name-login')]">
					<div><b>Warning</b>: requests set up this way will not be secure; anyone will be able to modify them.  If you want a secure account, login with google.</div>
					<div>Full name: <input style="width: 20em" property="name"
										   ></div>
					<div>(Optional) email: <input style="width: 20em" property="email"
										   ></div>
					<div><span style="float:right; margin-top: 5px;">
							<button disabled="[!name]"
									mv-action="set(useNameLogin,true), set(showNameLogin,false)"
									>Submit</button>
							<button mv-action="set(showNameLogin,false)"
									>Cancel</button>
					</span></div>
					<meta property="uid" mv-value="name">
				</div>

				<meta id="signal" property="signal">
				<meta property="useFavorites" mv-value="search(url(),'favorites')>0">
				<meta property="meid" mv-value="url('meid') || if(useNameLogin,nameLoginData.name,$user.info.uid)">
				<meta property="path" mv-value="if(useFavorites,'ifdr-favorite','ifdr-user')">
				<meta property="userStorage" mv-value="if(meid,'https://mavo-cd7c3.firebaseio.com/' & path & '/' & meid,'none')">
				<meta property="sessions" mv-value="sessionList.$items">
				<div hidden>
					[watchLoginState(meid)]
				</div>
			</div>

			<div style="display: none" mv-app="dances" mv-storage="none" mv-source="ifd.csv" mv-format="csv">
				<datalist id="dancelist" mv-list="dance">
					<option mv-list-item mv-group property="dance" value="[label]"></option>
				</datalist>
				<meta property="danceIndex" mv-value="makeIndex(dance,'label')">
			</div>
			
			<div
				mv-app="user"
				mv-storage-options="realtime skip-unsaved-data-warning"
				mv-bar="none"
				mv-plugins="firebase-firestore sort"
				mv-autosave="2"
				mv-storage="[util.userStorage]"
				mv-storage-key="AIzaSyC0PxY82lVLTLv80ZU1z5sz1azoYZits0I"
				>
				<div hidden>
					<!--[watchUsers(mysid,if(mysid='test' || !session.lookbackTime,365*24*60*60*1000,session.lookbackTime),util.useFavorites)]-->
					[watchFont(fontSize)]
				</div>
				<meta property="requestLimit" mv-value="session.requestLimit or 1000">
				<div class="break"></div>
				<header>
					<span style="float:right">Font size: <input property="fontSize" type="range" min="100" max="300" step="20" value="100"></span>
					
					<ol mv-if="util.help">
						<h2>Help</h2>
						<li mv-if="!util.meid">Log in at the top (optional Google login is used only for security; nothing is tracked)</li>
						<li mv-if="!url('session')">Choose a session</li>
						<li mv-if="!session.noCheckout">Click the Check in button to let the Markid know you&apos;re dancing</li>
						<li>Pick dances in the search box, and click the <button>request</button> button</li>
						<li>Click the <button>X</button> to remove a pick
						<li>You can also upvote other people&apos;s picks, by clicking on the <button>+</button> beside the dance name
						<li mv-if="!session.noCheckout">Check out if you step away, so they don't play your requests at the wrong time.  Your requests will be saved, but they won't show in the request list until you check in again.</li>
					</ol>

					<div id="session-header">
						<select mv-if="!url('session')" id="session-select" property="sessionSelect" name="session" width="60">
							<option selected value="">Choose session</option>
							<optgroup mv-list="options" mv-value="util.sessions">
								<option mv-group mv-list-item value="[id]">[name]</option>
							</optgroup>
						</select>
						<h2>[if(url('session'),session.name,'Session')]</h2>
					</div>
					<meta property="mysid" mv-value="url('session') or sessionSelect" mv-storage="inherit">
					<meta property="publicWrite" mv-value="util.useNameLogin" mv-storage="inherit">
					<meta property="sessionStorage"
						  mv-value="if(mysid,'https://mavo-cd7c3.firebaseio.com/ifdr-session/' & mysid,'none')">
					<meta property="checkInTime" mv-default="[$startup]">
					<meta property="me" mv-group
						  mv-value="if(util.useNameLogin,util.nameLoginData,$user.data)">
					<meta property="name" mv-value="if(me,me.name,'unnamed user')" mv-storage="inherit">
					<meta property="email" mv-value="if(me,me.email)" mv-storage="inherit">

					<div class="show-logged-in">
						
						<div mv-if="not(mysid)">
							Choose a session
						</div>
						<div mv-if="mysid">
							<meta property="myPushOut" mv-value="first(session.pushOutTimes where uid=util.meid).time">
							<meta property="checkedIn"
								  mv-value="mysid and util.meid and checkInTime > (myPushOut || 0)">
							<div mv-if="session.zoom">Please enter your zoom name: <input property="zoomName" mv-default="[me.name]"></div>
							<div mv-if="!checkedIn">Click <button mv-action="set(checkInTime,+$now)">Check In</button> to make requests</div>
							<div mv-if="!session.noCheckout and checkedIn">Click <button mv-action="set(checkInTime,-1)">Check Out</button> to suspend your requests while you`re away</div>
						</div>
					</div>
				</header>
				<div class="break"></div>
					
				<section class="show-logged-in">
				  [session.announcement]
					<div>
						<h2>My <span mv-if="!checkedIn">Planned</span> Picks</h2>


						<div style="display:inline-block;">
							<input id="request-input" list="dancelist" autocapitalize="words" property="selection" mv-storage="none" size="25" placeholder="Type or choose dance name">
							<meta property="selectionPlayed" mv-value="lookup(session.playedIndex,selection) or lookup(session.declinedIndex,selection)">
							<button id="request-button" mv-action="if(selection,delete(picks where label=selection)),if(selection,add(group(label: selection, timestamp: 0+$now),picks)); set(selection,''); if(checkedIn || noCheckout, set(checkInTime,+$now))" disabled="[selectionPlayed]">[if(selectionPlayed,'played','request')]</button> 
							<button mv-action="set(selection,'')">clear</button>
						</div>

						<div mv-if="user.mysid and not util.favorites">If it's <span class="played">crossed out</span>, it's been accepted or declined.</div>

						<div hidden mv-list="picks" mv-initial-items="0">
							<div mv-list-item>
							<span property="label"></span>
							<meta property="timestamp">
							<meta property="played" mv-value="!!lookup(session.playedIndex,label)">
							<meta property="declined" mv-value="!!lookup(session.declinedIndex,label)">
							<meta property="resolved" mv-value="played or declined">
							<meta property="current" mv-value="timestamp > session.timeout" mv-storage="none">
							<meta property="eligible" mv-value="current and not(resolved)" mv-storage="none">
							<meta property="requestedSet" mv-default="[lookup(topPicksIndex,label).requestedSet]" mv-storage="inherit">
							</div>
						</div>
						<meta property="picksIndex" mv-value="makeIndex(picks,'label')">
						<meta property="currentList" mv-value="sort(picks where current,'+resolved','-timestamp')">
						<meta property="oldestCurrent" mv-value=min(currentList.timestamp)>
						
						<div class="request-list" mv-list="topPicks" mv-value="sort(first(requestLimit,currentList),'-timestamp')">
							<div class="[if(resolved,'played','unplayed')]" mv-list-item>
								<button mv-if="count(picks.eligible)>requestLimit" title="Demote request" mv-action="set(picks.timestamp where picks.label=label,oldestCurrent-1), if(checkedIn || noCheckout, set(checkInTime,+$now))">&darr;</button>
								<button title="Remove request" mv-action="set(picks.timestamp where picks.label=label, session.timeout), if(checkedIn || noCheckout, set(checkInTime,+$now))">X</button>
								<span property="label"></span>
								<input  class="hide show-if-[session.showSets && lookup(dances.danceIndex,label).type=='P']" mv-attr-type="'number'" placeholder="set" min="1" property="requestedSet" mv-default="[lookup(picksIndex,label).requestedSet]" style="float: right; width: 3em">
								<meta property="timestamp">
								<meta property="resolved">
							</div>
						</div>
						<meta property="topPicksIndex" mv-value="makeIndex(topPicks,'label')">

						<div class="request-list hide show-if-[count(overflowPicks) > 0]">
							<h3>Overflow Requests</h3>
							<div>(Request limit is [session.requestLimit])</div>
							<div class="request-list" mv-list="overflowPicks" mv-value="sort(rest(requestLimit,currentList),'-timestamp')">
								<div class="[if(resolved,'played','unplayed')]" mv-list-item>
									<button title="Promote request" mv-action="set(picks.timestamp where picks.label=label,+$now), if(checkedIn || noCheckout, set(checkInTime,+$now))">&uarr;</button>
									<button title="Remove request" mv-action="set(picks.timestamp where picks.label=label, session.timeout), if(checkedIn || noCheckout, set(checkInTime,+$now))">X</button>
									<span property="label"></span>
									<meta property="timestamp">
									<meta property="resolved">
								</div>
							</div>
						</div>
						
						<div class="request-list hide show-if-[count(pastRequests)>0]"
								 mv-list="pastRequests" mv-value="picks where not(picks.current)">
							<h3>Past Picks</h3>
							<div mv-list-item class="[if(resolved,'played','unplayed')]">
								<button title="Renew request" mv-action="set(picks.timestamp where picks.label=label,1*$now), if(checkedIn || noCheckout, set(checkInTime,+$now))">&uarr;</button>
								<button title="Remove request" mv-action="delete(picks where picks.label=label), if(checkedIn || noCheckout, set(checkInTime,+$now))">X</button>
								<span property="label"></span>
								<meta property="timestamp">
								<meta property="resolved">
							</div>
						</div>

					</div>
				</section>


				
				<section class="show-if-[!!user.mysid]">
					<h2>Everyone&apos;s Picks</h2>
						<div> <label><input type="checkbox" property="showPlayed"> Show resolved</label></div>

						<table class="request-table [if(showPlayed, 'showPlayed', 'hidePlayed')]">
						<tr>
							<th>Add</th>
							<th>Dance</th>
							<th>Count</th>
						</tr>
						<tbody mv-list="requests" mv-value="sort(mergePicks(session.users where active,util.signal,picks),'-count','+label')">
							<tr class="request [if(lookup(session.playedIndex,label) or lookup(session.declinedIndex,label),'played','unplayed')]">
								<td><button mv-class="show-logged-in" title="add request"
														mv-if="user.checkedIn and not(mine) and not(played)"
														mv-action="delete(filter(user.picks, user.picks.label=label)), add(group(label: label, timestamp: 0+$now),user.picks); if(checkedIn,set(checkInTime,+$now))">
										+</button>
								<td class="r-label"><span property="label"></span>
								<td class="r-count"><span property="count"></span>
									<meta property="played">
									<meta property="mine" mv-value="has(label,user.topPicks.label)">
							</tr>
						</tbody>
					</table>
				</section>
			</div>

			<div mv-if="user.mysid"
				 mv-app="session"
				 mv-storage-options="realtime skip-unsaved-data-warning"
				 mv-plugins="firebase-firestore"
				 mv-bar="none"
				 mv-storage="[user.sessionStorage]"
				 mv-storage-key="AIzaSyC0PxY82lVLTLv80ZU1z5sz1azoYZits0I"
				 >
				<span property="pushOutTimes" mv-list mv-initial-items="0">
					<meta property="uid">
					<meta property="time" type="number">
				</span>
				<meta property="pushOutIndex" mv-value="makeIndex(pushOutTimes,'uid')">
				<meta property="requestLimit" mv-default="1000">
				<meta property="playedIndex" mv-value="makeIndex(played.label)">
				<meta property="declinedIndex" mv-value="makeIndex(declined.label)">
				<meta property="lookbackTime" mv-default="6*24*60*60*1000">
				<meta property="thisMinute" mv-value="round($now/60000)*60000">
				<meta property="timeout" mv-value="thisMinute-lookbackTime">  <!--when requests time out-->
				
				<div hidden mv-list="users"  class="[if(not(active),'inactive','')]"
					 mv-value="userList.users"> <!--getUsers(util.signal)-->
					<!--mv-value="testing.users"-->
					<meta property="uid">
					<meta property="pushOut" mv-value="lookup(pushOutIndex,uid)">
					<meta property="active" mv-value="if(!pushOut,true,(checkInTime > pushOut.time))">
					<div property="picks" mv-list>
						<meta property="label">
						<meta property="timestamp">
						<meta property="played" mv-value="!!lookup(session.playedIndex,label)">
						<meta property="declined" mv-value="!!lookup(session.declinedIndex,label)">
						<meta property="resolved" mv-value="played or declined">
						<meta property="current" mv-value="timestamp > session.timeout">
					</div>
					<meta property="currentList" mv-list mv-value="sort(picks where current,'+resolved','-timestamp')">
					<meta property="topPicks" mv-list mv-value="sort(first(requestLimit,currentList),'-timestamp')">
				</div>

				<section mv-if="count(played)>0">
					<h2>Accepted</h2>
					<div class="session" mv-list="played" mv-initial-items="0">
						<div property="label"></div> 
					</div>
				</section>

				<section mv-if="count(declined)>0">
					<h2>Declined</h2>
					<div class="session" mv-list="declined" mv-initial-items="0">
						<div property="label"></div> 
					</div>
				</section>

			</div>
		</main>
		<footer>Created by David Karger.  <a href="mailto:karger@mit.edu">Please send feedback.</a></footer>
	</body>
</html>
