<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>IFD Requests</title>
		<script src="https://get.mavo.io/mavo.js"></script>
		<link rel="stylesheet" href="https://get.mavo.io/mavo.css">
		<script defer src="ifd.js"></script>
		<style>
			.logged-out .show-logged-in {
				display: none;
			}
			.logged-in .show-logged-out {
				display: none;
			}
			.r-label {
				padding-left 1em;
				padding-right 1em;
			}
			.played {
				text-decoration: line-through;
			}
			.hidePlayed .played {
				display: none;
			}
			#session-header {
				max-width: 30em;
			}
			#session-select {
				float: right;
			}
			#my-requests {
				line-height: 200%;
			}
			body {
				display: flex;
				min-height: 98vh;
				flex-direction: column;
				margin-top: 0;
			}
			main {
				flex: 1;
			}
			footer {
				padding-top: 3em;
				font-size: small;
			}
			.mv-status span {
				display: none;
			}
			.ifdr-active .mv-bar {
				background-color: green;
			}
			.ifdr-inactive .mv-bar {
				background-color: red;
			}
			[mv-app="util"] {
				position: sticky;
				top: 0;
			}
			.ifdr-inactive .show-active {
				display: none;
			}
			.ifdr-active .show-inactive {
				display: none;
			}
		</style>
	</head>
	<body class="logged-out">

		<main>
			<div mv-app="util" mv-storage="none"
				 mv-firebase="auth"
				 mv-plugins="firebase-firestore"
				 mv-autosave="1"
				 mv-bar="status login logout"
				 mv-source="https://mavo-cd7c3.firebaseio.com/ifdr-user/0"
				 mv-storage="none"
				 mv-firebase-key="AIzaSyC0PxY82lVLTLv80ZU1z5sz1azoYZits0I"
				 class="[if(user.checkedIn,'ifdr-active','ifdr-inactive')]"
				 >
				<div class="mv-bar mv-ui">
					<span class="show-logged-in show-active">Checked in</span>
					<span class="show-logged-in show-inactive">Checked out</span>
				</div>
				<meta id="signal" property="signal">
				<meta property="uid" mv-value="url('uid') || getUid(signal)">
				<meta property="userStorage" mv-value="if(uid,'https://mavo-cd7c3.firebaseio.com/ifdr-user/'& uid,'none')">
				<meta property="sessions" mv-value="getSessions(signal)">
				<div hidden>
					[setSignal('sig'&'nal')]
					[watchSessions(session.duration || 24*60*60*1000)]
				</div>
			</div>

			<div hidden mv-app="dances" mv-storage="none" mv-source="ifd.csv" mv-format="csv">
				<datalist id="dancelist">
					<option mv-multiple mv-group property="dance" value="[label]"></option>
				</datalist>
			</div>
			
			<div
				mv-app="user"
				mv-firebase="auth realtime"
				mv-bar="none"
				mv-plugins="firebase-firestore sort"
				mv-autosave="5"
				mv-bar="status login logout"
				mv-storage="[util.userStorage]"
				mv-firebase-key="AIzaSyC0PxY82lVLTLv80ZU1z5sz1azoYZits0I"
				>
				<div hidden>
					[watchUsers(mysid,if(mysid='test',365*24*60*60*100,session.duration))]
				</div>

				<section>
					<details><summary>Click for instructions</summary>
						<ol>
							<li>Log in at the top</li>
							<li>Choose a session</li>
							<li>Click the Check in button to let the Markid know you're dancing</li>
							<li>Request dances</li>
							<li>Check out if you step away, so they don't play your requests at the wrong time.  Your requests will be saved, but they won't show in the request list until you check in again.</li>
						</ol>
					</details>
					

					<div id="session-header">
						<select id="session-select" property="mysid" name="session" width="60">
							<option selected value="" selected>Choose session</option>
							<option property="options" mv-group mv-multiple value="[id]" mv-value="util.sessions">[name]</option>
						</select>
						<meta property="mysid2" mv-storage="inherit"
							  mv-value="url('session') || sessionSelect || mysid">
						<h2>Session</h2>
					</div>

					<meta property="sessionStorage"
						  mv-value="if(mysid && util.uid,'https://mavo-cd7c3.firebaseio.com/ifdr-session/' & mysid,'none')">
					<meta property="checkInTime" mv-default="[-1]">
					<meta property="name">

					<div class="show-logged-out">
						Log in to make requests.
					</div>

					<div class="show-logged-in">
						
						<div mv-if="not(mysid)">
							Choose a session
						</div>
						<div mv-if="mysid">
							<meta property="myPushOut" mv-value="first(session.pushOutTimes where uid=util.uid).time">
							<meta property="checkedIn"
								  mv-value="mysid and checkInTime > (myPushOut || 0)">
							<div mv-if="!checkedIn">Click <button mv-action="set(checkInTime,+$now),set(name,username())">Check In</button> to make requests</div>
							<div mv-if="checkedIn">Click <button mv-action="set(checkInTime,-1)">Check Out</button> to suspend your requests while you're away</div>
						</div>
					</div>
				</section>
				
				<section class="show-logged-in">
					<div>
						<h2>My Requests</h2>


						<div style="display:inline-block;">
							<input list="dancelist" property="selection" mv-storage="none" size="30" placeholder="Type or choose dance name">
							<meta property="selectionPlayed" mv-value="get(session.playedIndex,selection)">
							<button mv-action="if(selection,add(group(label: selection, timestamp: 0+$now),picks)); set(selection,''); if(checkedIn,set(checkInTime,+$now))" disabled="[selectionPlayed or (selection in picks.label)]">[if(selectionPlayed,'played','request')]</button>
							<button mv-action="set(selection,'')">clear</button>
						</div>
						
						<div mv-if="user.mysid">If it's <span class="played">crossed out</span>, it's been played.</div>
						<div id="my-requests">
							<div class="[if(played,'played','unplayed')]" mv-multiple property="picks" mv-initial-items="0" mv-alias="pick">
								<button title="Remove request" mv-action="delete($this)">X</button>
								<span property="label"></span>
								<meta property="played" mv-value="get(session.playedIndex,label)">
							</div>
						</div>
					</div>
				</section>

				<section>
					<div style="float:right">
						<div> <label><input type="checkbox" property="showPlayed"> Show played</label></div>
					</div>
					<h2>Everyone's Requests</h2>

					<table class="request-table [if(showPlayed, 'showPlayed', 'hidePlayed')]">
						<tr>
							<th></th>
							<th></th>
							<th>Dance</th>
							<th>Count</th>
						</tr>
						<tr class="request [if(get(session.playedIndex,label),'played','unplayed')]" mv-multiple property="requests" mv-value="sort(mergePicks(session.users where active,util.signal),'-count','label')">
							<td><button title="add request" mv-if="user.checkedIn and not(mine) and not(played)" mv-action="add(group(label: label),user.picks); if(checkedIn,set(checkInTime,+$now))">+</button>
							<td>
							<td><span class="r-label" property="label"></span>
							<td><span class="r-count" property="count"></span>
								<meta property="played">
								<meta property="mine" mv-value="has(label,user.picks.label)">
						</tr>
					</table>
				</section>
			</div>

			<div mv-if="user.mysid"
				 mv-app="session"
				 mv-firebase="realtime"
				 mv-plugins="firebase-firestore"
				 mv-storage="none"
				 mv-bar="none"
				 mv-source="[user.sessionStorage]"
				 mv-firebase-key="AIzaSyC0PxY82lVLTLv80ZU1z5sz1azoYZits0I"
				 >
				<meta property="pushOutTimes" mv-multiple mv-initial-items="0">
				<meta property="pushOutIndex" mv-value="makeIndex(pushOutTimes,'uid')">
				<div hidden property="users" mv-multiple class="[if(not(active),'inactive','')]"
					 mv-value="getUsers(util.signal)">
					<!--mv-value="testing.users"-->
					<meta property="uid">
					<meta property="pushOut" mv-value="get(pushOutIndex,uid)">
					<meta property="active" mv-value="!pushOut || (checkInTime > pushOut.time)">
				</div>

				<section>
					<h2>Played</h2>
					<div class="session" mv-multiple property="played" mv-initial-items="0">
						<div property="label"></div> 
					</div>
				</section>

				<meta property="playedIndex" mv-value="makeIndex(played.label)">
			</div>
		</main>
		<footer>Created by David Karger.  <a href="mailto:karger@mit.edu">Please send feedback.</a></footer>
	</body>
</html>
