<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>IFD Requests</title>
		<script src="https://get.mavo.io/mavo.js"></script>
		<link rel="stylesheet" href="https://get.mavo.io/mavo.css">
		<scropt src="https://dmitrysharabin.github.io/mavo-firebase-firestore/src/mavo-firebase-firestore.js"></scropt>
		<script src="ifd.js"></script>
		<style>
			.logged-out .show-logged-in {
				display: none;
			}
			.logged-in .show-logged-out {
				display: none;
			}
			.request-table {
				border-collapse: separate;
				border-spacing: 1em 0em;
			}
			.played {
				text-decoration: line-through;
			}
			.excluded {
				text-decoration: line-through;
			}
			#session-select {
				float: right;
			}
			.r-names:not(:last-child):after {
				content: ", "
			}
		</style>
	</head>
	<body>


			<div mv-app="util" mv-storage="none"
				 mv-firebase="auth realtime"
				 mv-plugins="firebase-firestore"
				 mv-autosave="0"
				 mv-bar="status login logout"
				 mv-source="https://mavo-cd7c3.firebaseio.com/ifdr-user/0"
				 mv-firebase-key="AIzaSyC0PxY82lVLTLv80ZU1z5sz1azoYZits0I"
				 >
				<meta id="signal" property="signal">
				<meta property="sessionStore" mv-value="if(url('session'),'https://mavo-cd7c3.firebaseio.com/ifdr-session/' & url('session'),'none')">
			</div>
		
			<section mv-app="showRequests" mv-storage="none" mv-bar="none"
					 mv-plugins="sort">

				<meta property="sessions" mv-value="getSessions(util.signal)">
				<meta property="mysid" mv-value="url('session')">
				<form id="session-select" method=get action="markid.html">
					<select property="nextSession" name="session" width="60">
						<option value="" selected hidden disabled>Choose a session</option>
						<option mv-group mv-multiple value="[id]" mv-value="getSessions(util.signal)">[name]</option>
					</select>
					<input type="submit" value="Go to Session">
				</form>
				<h2>[condense(sessions where id=mysid).name]</h2>

				<h2>Everyone's Requests</h2>

				<table class="request-table">
					<tr>
						<th></th>
						<th>Dance</th>
						<th>Count</th>
						<th>Who</th>
					</tr>
					<tr class="request [if(played,'played','unplayed')]" mv-multiple property="requests" mv-value="sort(markPlayed(getRequests(util.signal,excludes),playlist.played,util.signal),'-count')">
						<td>
							<button mv-if="not(played)" mv-action="add(group(label: label, timestamp: +$now),playlist.played)">play</button>
							
						<td><span class="r-label" property="label"></span>
						<td><span class="r-count" property="count"></span>
						<td><span class="r-names" mv-multiple property="names"></span>
						<td><meta property="played">
					</tr>
				</table>
			</section>

		
			<section 
				mv-app="playlist" mv-bar="none"
				mv-firebase="auth realtime"
				mv-plugins="firebase-firestore"
				mv-autosave="0"
				mv-storage="[util.sessionStore]"
				mv-firebase-key="AIzaSyC0PxY82lVLTLv80ZU1z5sz1azoYZits0I"
				>

				<div style="display:none">
					[setSignal('signal')]
					[watchRequests(showRequests.mysid,playlist.excludes)]
					[watchSessions()]
				</div>

	
				<h2>Playlist</h2>

				<div mv-if="settings.ismarkid">Choose a dance (or start typing): <input list="dancelist" property="playSelection" mv-storage="none">
					<button mv-action="add(group(label: playSelection, timestamp: +$now),played); set(playSelection,'')">Play</button>
				</div>
				<div class="playlist" mv-multiple property="played" mv-initial-items="0">
					<button mv-action="delete($this)">X</button> <span property="label"></span> <meta property="timestamp">
				</div>
				<div>
					<button mv-if="settings.ismarkid" mv-action="delete(played)">Delete Playlist</button>
				</div>

				<h2>Folks</h2>

				<div property="excludes" mv-multiple class="[if(excluded,'excluded','')]"
					 mv-value="sort(getUsers(util.signal),'-timestamp')">
					<button mv-action="setExclude(uid,not(excluded))">
						[if(excluded,"+","X")]
					</button>
					<span property="name"></span> <meta property="uid"> <meta property="excluded">
				</div>
			</section>

			

		
	</body>
</html>
