<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>IFD Markid</title>
		<script src="//get.mavo.io/mavo.js"></script>
		<link rel="stylesheet" href="//get.mavo.io/mavo.css">
		<script src="ifd.js"></script>
		<style>
			.logged-out .show-logged-in {
				display: none;
			}
			.logged-in .show-logged-out {
				display: none;
			}
			.request-table {
				border-collapse: separate;
				border-spacing: 1em 0em;
			}
			.played {
				text-decoration: line-through;
			}
			.mv-status span {
				display: none;
			}
			.inactive {
				text-decoration: line-through;
			}
			#session-select {
				float: right;
			}
			.r-names:not(:last-child):after {
				content: ", "
			}
			#clear {
				margin-top: 2em;
			}
			.hidePlayed .played {
				display: none;
			}
			body {
				display: flex;
				min-height: 98vh;
				flex-direction: column;
				margin-top: 0;
			}
			main {
				flex: 1;
			}
			footer {
				padding-top: 3em;
				font-size: small;
			}
		</style>
	</head>
	<body>

		<main>
			<div mv-app="util" mv-storage="none"
				 mv-firebase="auth realtime"
				 mv-plugins="firebase-firestore"
				 mv-autosave="0"
				 mv-bar="status login logout"
				 mv-source="https://mavo-cd7c3.firebaseio.com/ifdr-user/0"
				 mv-firebase-key="AIzaSyC0PxY82lVLTLv80ZU1z5sz1azoYZits0I"
				 >
				<meta id="signal" property="signal">
				<meta property="sessionStore" mv-value="if(url('session'),'https://mavo-cd7c3.firebaseio.com/ifdr-session/' & url('session'),'none')">
			</div>
			
			<div hidden mv-app="dances" mv-storage="none" mv-source="[if(url('session'),'ifd.csv','none')]" mv-format="csv">
				<datalist id="dancelist">
					<option mv-multiple mv-group property="dance" value="[label]"></option>
				</datalist>
			</div>
			
			<section mv-app="showRequests" mv-storage="none" mv-bar="none"
					 mv-plugins="sort">
				
				<meta property="sessions" mv-value="getSessions(util.signal)">
				<meta property="mysid" mv-value="url('session')">
				<form id="session-select" method="get" action="markid.html">
					<select property="nextSession" name="session" width="60">
						<option value="" selected disabled>Choose a session</option>
						<option mv-group mv-multiple value="[id]" mv-value="getSessions(util.signal)" selected="[id==url('session')]">[name]</option>
					</select>
					<input type="submit" value="Go to Session">
				</form>
				<div mv-if="not(mysid)">Choose a session to begin</div>

				<div mv-if="mysid">
				<h2>[condense(sessions where id=mysid).name]</h2>

				<div>
				<div style="float:right">
					<div> <label><input type="checkbox" property="showPlayed"> Show played</label></div>
					<div><label><input type="checkbox" mv-storage="none" property="showNames"> Show who</label></div>
				</div>
				<h2>Requests</h2>
				</div>


				<table class="request-table [if(showPlayed, 'showPlayed', 'hidePlayed')]">
					<tr>
						<th></th>
						<th>Dance</th>
						<th>Count</th>
						<th mv-if="showNames">Who</th>
					</tr>

					<tr>
						<td><button mv-action="add(group(label: playSelection, timestamp: +$now),session.played); set(playSelection,'')">play</button>
						<td><input list="dancelist" placeholder="Enter Dance" property="playSelection" mv-storage="none">
					</tr>

					<tr class="request [if(played,'played','unplayed')]" mv-multiple property="requests" mv-value="sort(mergePicks(session.users where active,util.signal),'-count')">
						<td><button mv-if="not(played)"
									mv-action="add(group(label: label, timestamp: +$now),session.played)">play</button>
						<td><span class="r-label" property="label"></span>
						<td><span class="r-count" property="count"></span>
						<td mv-if="showNames"><span class="r-names" mv-multiple property="names"></span>
						<td><meta property="played" mv-value="get(session.playedIndex,label)">
					</tr>
				</table>
				</div>
			</section>

			<section mv-if="showRequests.mysid"
				mv-app="session" mv-bar="none"
				mv-firebase="auth realtime"
				mv-plugins="firebase-firestore"
				mv-autosave="0"
				mv-storage="[util.sessionStore]"
				mv-firebase-key="AIzaSyC0PxY82lVLTLv80ZU1z5sz1azoYZits0I"
				>
				<div style="display:none">
					[setSignal('signal')]
					[watchUsers(showRequests.mysid,24*60*60*1000)]
					[watchSessions()]
				</div>

				<meta mv-multiple property="owner">

				<div property="pushOutTimes" mv-multiple mv-initial-items="0">
					<meta property="uid">
					<meta property="time" type="number">
				</div>
				<meta property="pushOutIndex" mv-value="makeIndex(pushOutTimes,'uid')">
				
				<h2>Played</h2>
				
				<div class="playlist" mv-multiple property="played" mv-initial-items="0">
					<button mv-action="delete($this)">X</button> <span property="label"></span> <meta property="timestamp">
				</div>
				
				<meta property="playedIndex" mv-value="makeIndex(played.label)">

				<button id="clear" mv-action="delete(played)">Clear playlist</button>
				<div>
					<div style="float:right"><input type="checkbox" mv-storage="none" property="addMarkid"> manage markidim</div></div>
				<h2>Folks</h2>
				Click <button>X</button> to check out people who've left, or <button>+</button> to check them back in.

				<div property="users" mv-multiple class="[if(not(active),'inactive','')]"
					 mv-value="sort(getUsers(util.signal),'-checkInTime')">
					 <!--mv-value="testing.users"-->
					 <meta property="uid">
					<meta property="active" mv-value="checkInTime>(get(pushOutIndex,uid).time or 0)">
					<button mv-action="add(uid,owner)" mv-if="addMarkid && not(uid in owner)">Make Markid</button>
					<button mv-action="delete(uid,owner)" mv-if="addMarkid && (uid in owner)">Remove Markid</button>
					<button mv-if="not(active)"
							mv-action="if(uid in pushOutTimes.uid,set(pushOutTimes.time where pushOutTimes.uid=uid,-1),add(group(uid: uid, time: -1),pushOutTimes))">+</button>
					<button mv-if="active"
							mv-action="if(uid in pushOutTimes.uid,set(pushOutTimes.time where pushOutTimes.uid=uid,+$now),add(group(uid: uid, time: +$now),pushOutTimes))">X</button>
					
					<span property="name"></span>
				</div>

			</section>
		</main>
		
		<footer>Created by David Karger.  <a href="mailto:karger@mit.edu">Please send feedback.</a></footer>

		
	</body>
</html>
