<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>IFD Markid</title>
		<script src="//get.mavo.io/stable/mavo.es5.js"></script>
		<link rel="stylesheet" href="//get.mavo.io/stable/mavo.css">
		<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
		<link rel="manifest" href="manifest.json">
		<script src="ifd.js"></script>
		<link href="style.css" rel="stylesheet">
		<style>
			body {
				display: flex;
				min-height: 98vh;
				flex-direction: column;
				margin-top: 0;
			}
			main {
				flex: 1;
 				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: flex-start;
				align-content: flex-start;
			}
			main > * {
				flex: 1 1 auto;
			}
			footer {
				padding-top: 3em;
				font-size: small;
			}
			#configure {
				order: -2;
			}
			#markidim {
			    order: -1;
			}
			#heading {
				flex: 0 1 auto;
				width: 100%;
				max-width: 100%;
			}
			#session-select {
				float: right;
			}
			span[mv-multiple]:not(:last-child):after {
				content: ", "
			}
			section {
				margin-right: 2em;
				max-width: 60em;
			}
			/*requests*/
			.dance-table {
				margin-left: 1em;
			}
			.my-play {
				font-weight: bold;
			}
			.dance-table td {
				padding-right: 1em;
			}
			.recent {
			    font-weight: bold;
			}
			.played span {
				text-decoration: line-through;
			}
			.playlist {
				margin-left: 1em;
			}
			.playlist button {
				margin-right: 1em;
			}
			/*accepted*/
			/*folks*/
			.users {
				margin-left: 1em;
			}
			.users button {
				margin-right: 1em;
			}
			.mv-status span {
				display: none;
			}
			.inactive {
				text-decoration: line-through;
			}
			#clear {
				margin-top: 2em;
			}
			.hidePlayed .played {
				display: none;
			}
			.count-holder {
				text-align: right;
				margin-right: 1ex;
			}
		</style>
	</head>
	<body>

		<!--login/utility-->
		<div mv-app="util" mv-storage="none"
			 mv-firebase="auth realtime"
			 mv-plugins="firebase-firestore"
			 mv-bar="status login logout"
			 mv-source="https://mavo-cd7c3.firebaseio.com/ifdr-user/0"
			 mv-firebase-key="AIzaSyC0PxY82lVLTLv80ZU1z5sz1azoYZits0I"
			 >
			<div class="mv-bar mv-ui">
				<button class="mv-login show-logged-out">Sign in using Google (secure)</button>
				<button mv-if="session.openMarkid && session.anonymousMarkid"
						class="show-logged-out"
						mv-action="set(showNameLogin,true)"
						>Enter name (insecure), or </button>
				<button mv-if="session.meIsMarkid" style="order: 3" mv-action="set(configure,!configure)"
						>Configure session</button>
				<button class="help"
						style="order: 4" mv-action="set(help,!help)"
						>Help</button>
			</div>
			<div hidden>[watchLoginState(me.uid)]</div>

			<meta property="help" mv-value="0">
			<meta property="configure">
			<meta id="signal" property="signal">
			<div property="me" mv-value="if(useNameLogin,nameLoginData,getProfile(signal))">
				<meta property="uid"> <meta property="name">
			</div>
			<meta property="sessionStore" mv-value="if(url('session'),'https://mavo-cd7c3.firebaseio.com/ifdr-session/' & url('session'),'none')">

				<meta property="showNameLogin">
				<meta property="useNameLogin" mv-default="[false]">
				<div property="nameLoginData" id="name-login"
					 mv-storage="local"
					 class="hide hide-if-[!showNameLogin]">
					<div>Full name: <input style="width: 20em" property="name"
										   ></div>
					<meta property="uid" mv-value="name">
					<div>(Optional) email: <input style="width: 20em" property="email"
										   ></div>
					<div><span style="float:right; margin-top: 5px;">
							<button disabled="[!name]"
									mv-action="set(useNameLogin,true), set(showNameLogin,false)"
									>Submit</button>
							<button mv-action="set(showNameLogin,false)"
									>Cancel</button>
					</span></div>
				</div>

		</div>

		<!--dance list-->
		<div hidden mv-app="dances" mv-storage="none" mv-source="[if(url('session'),'ifd.csv','none')]" mv-format="csv">
			<datalist id="dancelist">
				<option mv-multiple mv-group property="dance" value="[label]"></option>
			</datalist>
		</div>

		<div style="position:relative">
		<div mv-app="options" mv-storage="local" mv-bar="none" style="float:right" mv-autosave="0">
		<div mv-if="session.meIsMarkid"><label><input type="checkbox" property="notify">Enable notification of new requests</label><span hidden>[watchNotify(notify)]</span></div>
		</div>
		</div>
		
		<main>
		  <div mv-app="requests" mv-storage="none" mv-bar="none"
				 mv-plugins="sort" style="display:contents">
				<!--header-->
				<section id="heading">
					<meta property="sessions" mv-value="getSessions(util.signal)">
					<meta property="mysid" mv-value="url('session')">

					<ol mv-if="util.help">
						<h2>Help</h2>
						<li>Choose your session using the dropdown and click <button>Go to Session</button></li>
						<li>Sign in at the top</li>
						<li>Look over the requests</li>
						<li>Click <button>accept</button> next to each request you play or queue up, so it will be marked played.</li>
						<li>If you click play by mistake, just click the <button>X</button> in the list of <b>Played</b> dances</li>
						<li>There is a checkbox to let you include the dances you've already played in the same list, and another to see who requested each dance.
						<li>Below that is a list of folks currently checked in to your session.  You can check them out by clicking the <button>X</button>.  Or check them back in by clicking the <button>+</button>.</li>
						<li>There is a checkbox to let you manage markidim (add new ones who will be able to run this playlist app) and also to show requests by individual.
					</ol>
					

					<form id="session-select" method="get" action="markid.html">
						<select property="nextSession" name="session">
							<option value="" selected="[!url('session')]">Choose a session</option>
							<option mv-group mv-multiple value="[id]" mv-value="getSessions(util.signal)" selected="[id=url('session')]">[name]</option>
						</select>
						<input type="submit" value="Go to Session">
					</form>
					<div mv-if="not(mysid)">Choose a session to begin</div>

					<div mv-if="mysid">
						<h2 property="sessionName">[condense(sessions where id=mysid).name]</h2>
					</div>
					<div mv-if="!util.me.uid">
						Please <span mv-if="anonymousMarkid">enter your name </span>or sign in above.
					</div>
					<div mv-if="util.me.uid and mysid">
						<div mv-if="!session.meIsMarkid">
							<span mv-if="session.openMarkid">
								<button
									mv-action="delete(session.markidim where uid=util.me.uid), add(util.me,session.markidim)"
									>Click here</button> to join the markidim for [sessionName].
							</span>
							<div mv-if="!session.openMarkid">You are not registered as a markid for this session.
								If you just want to try out the markid app, visit the <a href="markid.html?session=test">test session</a>. 
                                <p>
								To join the markidim for [sessionName],
								<ol>
									<li>Sign in to the session using the request app <a href="..">here</a></li>
									<li>Ask a current markid to add you to the markid list in the markid app</li>
								</ol>	
							</div>
						</div>
					</div>
				</section>

				
				<!--Requests-->
				<section class="hide-if-[!mysid or !session.meIsMarkid]">
					<div>
						<h2>Requests</h2>
					</div>

					<meta property="thisMinute" mv-value="round($now/60000)*60000">
					<table class="dance-table [if(session.showPlayed, 'showPlayed', 'hidePlayed')]">
						<tr>
							<th><!--accept button--></th>
							<th class="dance-label">Dance</th>
							<th>Count</th>
							<th style="width: 13ex">
								<label class="hide-if-[session.hideOptions and !showTimes]"
									   ><input class="hide-if-[session.hideOptions]"
											   type="checkbox" property="showTimes"
											   mv-default="true" mv-storage="none"
											   >When</label>
							</th>
							<th style="width: [if(showNames,'30ex','8ex')]">
								<label class="hide-if-[session.hideOptions and !showNames]"
									   ><input class="hide-if-[session.hideOptions]" type="checkbox"
											   property="showNames" mv-default="true" mv-storage="none">Who</label>
							</th>
						</tr>

						<tr>
							<td><button mv-action="add(group(label: playSelection, timestamp: +$now, markid: util.me.name),session.played); set(playSelection,'')">accept</button>
							<td><input list="dancelist" placeholder="Enter Dance" property="playSelection" mv-storage="none">
						</tr>

						<tr class="request [if(played or declined,'played','unplayed')] [if(recent,'recent')]" mv-multiple
							property="requests" mv-value="sort(mergePicks(session.users where active,util.signal),'-count','+label')">
							<td><span mv-if="not(played) and not(declined)">
												<button title="mark accepted"
																mv-action="add(group(label: label, timestamp: +$now, markid: util.me.name),session.played)"
																>accept</button>
												<button mv-if="session.enableDeclines" title="mark declined"
																mv-action="add(group(label: label, timestamp: +$now, markid: util.me.name),session.declined)"
																>decline</button>
                    </span>
  							  <meta property="played" mv-value="lookup(session.playedIndex,label)">
  							  <meta property="declined" mv-value="lookup(session.declinedIndex,label)">
							  <meta property="recent" mv-value="if(timestamp > thisMinute-10*60*1000,1,0)">
							<td><span property="label"></span>
							<td class="count-holder"><span property="count"></span>
							<td class="visible-[showTimes]">
								<meta property="timestamp">
								<span class="r-time">[duration(thisMinute-timestamp)]</span>
							<td class="hide-if-[!showNames]">
								<span mv-multiple property="names"></span>
						</tr>
					</table>
				</section>
			</div>

			<div class="hide-if-[not(mysid)]"
				 mv-app="session" mv-bar="none"
				 mv-firebase="realtime"
				 mv-plugins="firebase-firestore sort"
				 mv-autosave="2"
				 mv-source="[util.sessionStore]"
				 mv-storage="[if(util.me.uid,util.sessionStore,'')]"
				 mv-firebase-key="AIzaSyC0PxY82lVLTLv80ZU1z5sz1azoYZits0I"
				 style="display:contents"
				 >
				<div style="display:none">
					[setSignal('sig'&'nal')]
					[watchUsers(requests.mysid,lookbackTime)]
					[watchSessions(lookbackTime)]
					<div mv-multiple property="markidim" mv-initial-items="0">
						<meta property="uid"> <meta property="name">
					</div>
					<meta mv-multiple property="markidUids" mv-value="markidim.uid" mv-storage="inherit">
					<meta property="meIsMarkid" mv-value="has(util.me.uid,markidUids) or url('markid')='' or requests.mysid='test'">
					<div property="pushOutTimes" mv-multiple mv-initial-items="0">
						<meta property="uid">
						<meta property="time" type="number">
					</div>
					<meta property="timeout" mv-value="thisMinute-lookbackTime">  <!--when requests time out-->
					<meta property="pushOutIndex" mv-value="makeIndex(pushOutTimes,'uid')">
					<meta property="nonce">
				</div>

				<section id="configure" class="hide-if-[not(util.configure and meIsMarkid)]">
				  <h2>Configure</h2>
				  <main>
				  <section>
					<h3>Session Settings</h3>

					<div><b>Session name:</b>
							<span mv-mode="edit" property="name" mv-default="A Session"></span></div>
					<div><b>Zoom link:</b>
						<span mv-mode="edit" property="zoomLink"></span></div>
					<div>Request app direct link: <a href="./?session=[requests.mysid]">[name]</a></div>

					<h4>User Settings</h4>
					<div><label><input type="checkbox" property="zoom">Require Zoom names</label></div>
					<div><label><input type="checkbox" property="noCheckout" mv-default="false">Disable checkin/checkout option in request app</label></div>

					<h4>Markid Settings</h4>
					<div><label><input type="checkbox" property="hideOptions">Hide markid options</label></div>
					<div><label><input type="checkbox" property="showMarkid">Show Markid assigned to a dance</label></div>
					<div><label><input type="checkbox" property="openMarkid">Anyone can markid</label></div>
					<div mv-if="openMarkid"><label><input type="checkbox" property="anonymousMarkid">&hellip; without Google sign-in</label></div>
					<div mv-if="!openMarkid"><label><input type="checkbox" mv-storage="none" property="addMarkid">Add/remove markidim</label></div>

					<h4>Request List Settings</h4>
					Ignore requests older than: <select property="lookbackChoice" mv-default="[6*24*60*60*1000]">
						<option value="[30*60*1000]">past half hour</option>
						<option value="[1*60*60*1000]">past hour</option>
						<option value="[4*60*60*1000]">past 4 hours</option>
						<option value="[24*60*60*1000]">past day</option>
						<option value="[2*24*60*60*1000]">past 2 days</option>
						<option value="[4*24*60*60*1000]">past 4 days</option>
						<option value="518400000">past 6 days</option>
						<option value="[30*24*60*60*1000]">past month</option>
						<option value="[365*24*60*60*1000]">past year</option>
						<option value="[10*365*24*60*60*1000]">all</option>
						<option value="week">Weekly timeout</option>
						<option value="date">specific date</option>
					</select>
					<span mv-if="lookbackChoice='week'">
					  <input type="datetime-local" property="weekdayChoice" type="datetime-local" mv-default="[thisMinute-2*24*60*60*1000]">
					  [weekday(weekdayChoice,'name')]s at [time(weekdayChoice)]
					  <meta property="weekMs" mv-value="7*24*60*60*1000">
					  <meta property="weekTimeout" mv-value="weekdayChoice+weekMs*floor((thisMinute-weekdayChoice)/weekMs)"> 
					</span> 
					<span  mv-if="lookbackChoice='date'">
					  <input type="datetime-local"
						 property="customStart"
						 mv-default="[$startup-7*24*60*60*1000]"
						 mv-storage="inherit">
					</span>
					<meta property="lookbackTime" mv-value="if(lookbackChoice='date',thisMinute-customStart,if(lookbackChoice='week',thisMinute-weekTimeout,lookbackChoice))" mv-storage="inherit">

					<div>Max requests per user: <input property="requestLimit" type="number" min="0" max="1000"></div>
					<div> <label><input type="checkbox" property="showPlayed">Include accepted dances in Requests list</label></div>
					<div><input type="checkbox" property="enableDeclines"> Dances can be declined</div>
				  </section>
				  <section>
				    <h3>Markidim</h3>
				    <table>
				      <tr mv-multiple mv-value="markidim">
					<td><button mv-action="delete(markidim where markidim.uid=uid)">X</button></td>
					<td><meta property="uid"><span property="name"></span></td>
				      </tr>
				    </table>
				  </section>
				  </main>
				</section>
				
				<!--Playlist-->
				<section class="hide-if-[!meIsMarkid]" style="clear: both">
					<h2>Accepted</h2>

					<table class="dance-table">
						<tr mv-if="count(played)>0"><th></th><th class="dance-label">Dance</th><th class="hide-if-[!showMarkid]">Assigned markid</th><th hidden>Notes</th></tr>
						<tr class="playlist [if(myPlay and showMarkid,'my-play')]" mv-multiple property="played" mv-initial-items="0">
							<td><button mv-action="delete($this)">X</button></td>
							<td><span property="label"></span>
								<meta property="timestamp">
								<meta property="myPlay" mv-value="markid=util.me.name"></td>
							<td class="hide-if-[!showMarkid]">
								<input class="pending-delete" list="markidList"
									   property="markid"></td>
							<td mv-mode="edit"><span property="notes" mv-mode="edit"></span></td>
						</tr>
					</table>

					<button mv-if="count(played)>0" id="clear" mv-action="delete(played)">Clear playlist</button>
					
					<datalist id="markidList">
						<option mv-multiple property="ownerChoice" mv-attribute="value"
								mv-value="markidim.name" value="[ownerChoice]"></option>
					</datalist>

					<meta property="playedIndex" mv-value="makeIndex(played.label)">

				</section>

				<!--Folks-->
				<section class="hide-if-[!meIsMarkid]">
					<div style="clear:both">

						<h2>Folks</h2>
						<meta property="thisMinute" mv-value="round($now/60000)*60000">
						<div mv-if="util.help">Click <button>X</button> to check people out,
							or <button>+</button> to check them back in.</div>

						<table>
							<tr>
								<th></th>
								<th></th>
								<th>
									<label class="hide-if-[hideOptions and !showActivity]"
										   ><input class="hide-if-[hideOptions]" type="checkbox"
												   mv-storage="none" mv-default="[hideOptions]"
												   property="showActivity">Last active</label></th>
								<th><label class="hide-if-[hideOptions and !showRequests]"
										   ><input class="hide-if-[hideOptions]" type="checkbox"
												   mv-default="[hideOptions]" mv-storage="none"
												   property="showRequests">Requests</label></th>
							<tr property="users" mv-multiple class="users [if(active,'','inactive')]"
								mv-value="sort(getUsers(util.signal),'-checkInTime')">
								<td>
								  <span>
                    <meta property="uid">
									<meta property="checkInTime">
									<meta property="name">
									<meta property="zoomName">
									<meta property="pushOutTime" mv-value="lookup(lookup(pushOutIndex,uid),'time') or -1">
									<meta property="active" mv-value="checkInTime > (pushOutTime or 0)">
                                                                  </span>
									<button mv-action="add(group(uid:uid,name:name),markidim)" mv-if="addMarkid and not(uid in markidim.uid)">Make Markid</button>
									<button mv-action="delete(markidim where markidim.uid=uid)" mv-if="addMarkid and (uid in markidim.uid) and not(uid=util.me.uid)">Remove Markid</button>
									<button mv-if="not(active)" title="Check in" 
											mv-action="set(pushOutTimes, pushOutTimes where pushOutTimes.uid != uid), Mavo.all.session.expressions.update()">+</button>
									<button mv-if="active" title="Check out"
											mv-action="set(pushOutTimes, pushOutTimes where pushOutTimes.uid != uid),add(group(uid: uid, time: +$now),pushOutTimes)">X</button>
								<td>
									[if(zoom && zoomName,zoomName,name)]
								</td>
								<td><span mv-if="showActivity and active">[duration(thisMinute-checkInTime)] ago</span></td>
								<td>
									<div hidden property="picks" mv-multiple>
										<meta property="label">
										<meta property="timestamp">
										<meta property="played" mv-value="!!lookup(session.playedIndex,label)">
										<meta property="declined" mv-value="!!lookup(session.declinedIndex,label)">
										<meta property="resolved" mv-value="played or declined">
										<meta property="current" mv-value="timestamp > session.timeout">
									</div>
									<meta property="currentList" mv-multiple mv-value="sort(picks where current,'+resolved','-timestamp')">
									<meta property="topPicks" mv-multiple mv-value="sort(first(requestLimit,currentList),'-timestamp')">

									<span mv-if="showRequests"><span mv-multiple mv-value="topPicks.label where not(has(label,playedIndex))"></span></span>
							</tr>
						</table>

						<div property="toPushOut" mv-multiple mv-value="users where checkInTime > 0" mv-storage="none">
							<meta property="myuid" mv-value="uid">
							<div property="container">
								<meta property="uid" mv-value="myuid">
								<meta property="time" mv-value="+$now">
							</div>
						</div>
						<button mv-if="count(toPushOut)>0" mv-action="set(pushOutTimes,toPushOut.container)">Check All Out</button>
						<meta property="userIndex" mv-value="makeIndex(users,'uid')">
					</div>
				</section>

				
				<!--Declined-->
				<section class="hide-if-[!meIsMarkid || count(declined)==0]" style="clear: both">
					<h2>Declined</h2>

					<table class="dance-table">
						<tr mv-if="count(declined)>0"><th></th><th class="dance-label">Dance</th></tr>
						<tr class="playlist" mv-multiple property="declined" mv-initial-items="0">
							<td><button mv-action="delete($this)">X</button></td>
							<td><span property="label"></span>
								<meta property="timestamp">
						</tr>
					</table>

					<button mv-if="count(declined)>0" id="clear" mv-action="delete(declined)">Clear Declined</button>

					<meta property="declinedIndex" mv-value="makeIndex(declined.label)">

				</section>


				</div>
		</main>

		<footer>Created by David Karger.  <a href="mailto:karger@mit.edu">Please send feedback.</a></footer>


	</body>
</html>
